<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if user.is_authenticated %}
      {% else %}
      <a class="navbar-brand" href="{% url 'talkapp:home' %}">ホーム</a>
      {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li><a href="{% url 'talkapp:post_index' %}">トーク画面</a></li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'talkapp:user_edit' %}"><img src="/static/images/{{ user.profile.image }}" width=28 height=28> {{ user.username }} さんようこそ</a></li>
        <li><a href="{% url 'talkapp:user_edit' %}">ユーザー情報更新</a></li>
        <li><a href="{% url 'talkapp:getlogout' %}">ログアウト</a></li>
        {% else %}
        <li><a href="{% url 'talkapp:getlogin' %}">ログイン</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>